<!DOCTYPE html>

<html lang="en">

<%- include("../partials/head.ejs") %>

   <body id="router-view">

      <div class="loader" id="loader">

         <ul>
            <li>
               <svg data-name="symbol of wisdom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                  <path
                     d="m50 6.92 3.04 32.41c.07.75.69 1.31 1.44 1.31.33 0 .66-.12.92-.33l25.07-20.76-20.76 25.07c-.34.41-.43.98-.22 1.47.2.49.66.83 1.2.88l32.41 3.04-32.41 3.04c-.53.05-.99.39-1.2.88-.2.49-.12 1.06.22 1.47l20.76 25.07L55.4 59.71a1.46 1.46 0 0 0-.92-.33c-.75 0-1.37.56-1.44 1.31L50 93.1l-3.04-32.41c-.07-.75-.69-1.31-1.44-1.31-.33 0-.66.12-.92.33L19.53 80.47 40.29 55.4c.34-.41.43-.98.22-1.47-.2-.49-.66-.83-1.2-.88L6.9 50.01l32.41-3.04c.53-.05.99-.39 1.2-.88.2-.49.12-1.06-.22-1.47L19.53 19.55 44.6 40.31c.26.21.58.33.92.33.75 0 1.37-.56 1.44-1.31L50 6.92M50 .5c-.21 0-.41.13-.44.4l-3.6 38.33a.443.443 0 0 1-.72.3L15.59 14.97a.473.473 0 0 0-.28-.11c-.33 0-.61.41-.34.73l24.56 29.65c.23.27.05.69-.3.72L.9 49.56c-.53.05-.53.83 0 .88l38.33 3.6c.35.03.52.45.3.72L14.97 84.41c-.27.32.01.73.34.73.09 0 .19-.03.28-.11l29.65-24.56a.443.443 0 0 1 .72.3l3.6 38.33c.03.27.23.4.44.4s.41-.13.44-.4l3.6-38.33a.443.443 0 0 1 .72-.3l29.65 24.56c.09.07.19.11.28.11.33 0 .61-.41.34-.73L60.47 54.76a.44.44 0 0 1 .3-.72l38.33-3.6c.53-.05.53-.83 0-.88l-38.33-3.6c-.35-.03-.52-.45-.3-.72l24.56-29.65c.27-.32-.01-.73-.34-.73-.09 0-.19.03-.28.11L54.76 39.53a.443.443 0 0 1-.72-.3L50.44.9A.427.427 0 0 0 50 .5Z" />
               </svg>
            </li>
            <li>
               <p>Loading <span>H</span>is <span>W</span>isdom</p>
            </li>
         </ul>

      </div>

      <div class="home">

         <!-- Header -->
         <header>
            <!-- Left -->
            <section>
               <figure>
                  <img src="./assets/images/header_2.jpg" alt="">
               </figure>
            </section>

            <!-- Right -->
            <section>

               <section>
                  <ul>
                     <li>
                        <span></span>
                     </li>
                     <li>
                        <span></span>
                     </li>
                  </ul>
               </section>

               <article>
                  <h1>
                     <span>Kanye West</span> Word of Wisdom <span>Generator</span>
                  </h1>

                  <p>
                     Explore the wisdom of Kanye West <br> with our inspirational generator
                  </p>
               </article>

               <nav>
                  <ul>
                     <li>
                        <p>Scroll down</p>
                     </li>
                     <li>
                        <p><span>Or</span></p>
                     </li>
                     <li>
                        <a href="generator">Get inspired</a>
                     </li>
                  </ul>
               </nav>

            </section>
         </header>


         <!-- Main  -->
         <main>

            <section>
               <section class="quote-list" id="quote-list"></section>
            </section>

         </main>

      </div>


      <noscript>
         <section>
            <figure>
               <img
                  src="https://media4.giphy.com/media/P2yFOCpOyv561AdpkU/giphy.gif?cid=ecf05e47zl9iw54kaot83sxeaso79470i6yfbd3mn1wkzah5&rid=giphy.gif&ct=g"
                  alt="">
            </figure>

            <h2>
               Burning down everything we've worked so hard to achieve
            </h2>
            <p>
               Your JavaScript is disabled. Without it, our web app won't be able to share Kanye West his wisdom.
            </p>
         </section>
      </noscript>
   </body>

</html>