<!DOCTYPE html>

<html lang="en">

<%- include("../partials/head.ejs") %>

   <body>

    <main>
        <h1>It seems you're currently offline, which means our Kanye West Quote Generator can't serve you the wisdom you seek.</h1>
    </main>

   </body>

</html>